[submodule "third_party/f030dsp3d"]
	path = third_party/f030dsp3d
	url = git@github.com:AnimaInCorpore/f030dsp3d.git
[submodule "third_party/munt"]
	path = third_party/munt
	url = https://github.com/munt/munt.git
